body {
    background-color: #f8f9fa; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-brand {
    font-weight: bold;
    color: #ffc107 !important;
}

h1 {
    color: #0d6efd; 
    margin-bottom: 20px;
}

.img-fluid:hover {
    transform: scale(1.02);
    transition: 0.3s ease;
}
.index-hero-img {
    display: block;
    margin: 0 auto;
    width: 100%;       
    max-width: 700px;  
    height: auto;      
}


.card {
    background-color: #212529; 
    color: white;              
    border: none !important;
    transition: transform 0.3s ease;
    padding: 30px;             
    min-height: 450px;         
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: translateY(-10px);
}

.card-title {
    font-size: 1.8rem; 
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.card-text, .card ul li {
    font-size: 1.1rem;
    margin-bottom: 10px;
}